* {
    margin: 0;
    padding: 0;
    font-family: helvetica;
}

body {
    text-align: center;
    padding: 2rem;
    min-height: 100vh;
    background: linear-gradient(180deg, #DB4444 0%, #1ba15d 98%);
    color: #fff;
    
}

h2 {
    margin-bottom: 2rem;
}